body{
    background-color: goldenrod;
}
.whitecard{
    border: 1px white;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    margin: 200px 370px;
    box-sizing: border-box;
    padding-top: 25px;
}

.squarecard{
    border:1px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: gold;
    margin-left: -40px;
    margin-bottom: 200px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px goldenrod;

}

.text{
    border: 1px;
    width: 250px;
    height: 120px;
    margin-top: -375px;
    margin-left: 211px;
    box-sizing: border-box;
    /* background-color: green; */
    /* font-style: oblique; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* background-color: grey; */
}

button{
    padding: 5px 35px;
    border-radius: 20px;
    background-color: gold;
    margin-left: 210px;
    border: 0px;
}

.but{
     
}