*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}
.whitecard{
    width: 700px;
    height: 400px;
    border: 1px;
    background-color: whitesmoke;
    margin: 150px auto;
    box-shadow: 0px 0px 20px 1px gray;
}

.formcard{
    width: 350px;
    height: 400px;
    border: 1px;
    background-color: lightpink;
}

.cardpad{
    margin-left: 15px;
    
}

h3{
    margin-left: 140px;
    margin-top: 100px;
}

input{
    padding: 5px 50px;
    margin: 5px;
}

submit{
    padding: 5px 5px;
}