.navbar1{
    height: 5vh;
    font-size: 12px;
    background-color: white;
}
.conten{
    /* margin-top: 5%; */
    
}
.right i{
    padding: 5px;
    background-color: #562900;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.bg-brown{
    background-color: #562900;
    /* height: 10vh; */
}

.dark-bgg{
    background-color: #f8f8f8;

}