*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.landing{
    box-sizing: border-box;
    background-image: url(./assets/langing_picture.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;

    
}
.landing1{    
    background: linear-gradient(157.47deg, rgba(29, 27, 27, 0.9) 10%, rgba(0, 0, 0, 0) 31.43%),
                linear-gradient(19.31deg, rgba(26, 26, 26, 0.98) 22.69%, rgba(29, 27, 27, 0) 68.38%);
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

}



.navbar{
    padding-left: 5%;
    width: 100%;
    height: 20vh;
    display: flex;
}

.logo{
    background-image: url(./assets/logo.svg);

    background-size: contain;
    height: 82px;
    width: 140px;
    align-self: center;
}
ul{
    margin-left: 5%;
    margin-top: -5%;

    align-self: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;

}
.navbar a{
    
    text-decoration: none;
    color: #F8F8F9;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    align-items: flex-end;
    text-align: right;
}
.navbar a:hover{
    position: relative;
    bottom: 1px;
    box-shadow: 0px 97px 90px rgba(7, 0, 59, 0.12);
}

main{
    margin-left: 5%;
    width: 55%;
    box-sizing: border-box;
    position: absolute;
    bottom: 10vh;
}
main h1{

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 77px;
    line-height: 88px;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
main h1 span{
    background: linear-gradient(102.29deg, #0077AC 23.12%, #33AB51 50.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.cta1{
    background: linear-gradient(148.24deg, #032658 1.03%, #1B6CE1 60.39%);
    width: 272px;
    height: 90px;
    text-align: center;

}

.cta1 a{
    text-decoration: none;
    font-family: Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 88px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

}
.Ptwo{
    position: relative;
    top: -30vh;
}
.page2{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.foldtip{
    background-image: url(./assets/Vector\ 5.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 31vh;
    /*
    position: relative;
    top: -30vh;
    */

}
.heading{
    width: 50vw;
    align-self: flex-end;
    display: flex;



}
.dash{
    background-color: #1B6CE1;
    width: 56px;
    height: 3px;
    align-self: center;
    margin-left: 30vh ;
    border-radius: 2px;
}
.heading h1{
    width: 381px;
    margin-left: 24px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;

    color: #373737;
}
.cardplate{
    box-sizing: border-box;

    background-color: #FFFFFF;

    width: 90vw;
    height: 45vh;
    position: relative;
    left: 6vw;
    top: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /*
 top: -20vh;*/
}


.card{
    box-sizing: border-box;
    width: 22vw;
    height: 45vh;
    background: #FDFDFF;
    display: flex;
    justify-content: space-between;


}
.jacket{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 22vw;
    height: 45vh;
    margin-left: 32px;
    margin-top: 40px;

}

.card:hover{
    box-sizing: border-box;
    width: 22vw;
    height: 45vh;

    position: relative;
    left: -10px;
    top: -10px;

    background: #FDFDFF;
    border: 2px solid #33AB51;
    border-radius: 2%;
    box-shadow: 0px 97px 90px rgba(7, 0, 59, 0.12);

    transform: translateX(-10px);
    transform: translatey(-10px);

    transition: .3s;
    transition-timing-function: ease-in;


}
.icon{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 56px;
}

.card h2{
    box-sizing: border-box;
    position: relative;

    width: 17vw;
    height: 32px;

    font-family: sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 133% */

    color: #373737;
}

.card p{
    width: 17vw;
    position: relative;

    height: 90px;
    margin-top: 12px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 150% */
    
    font-feature-settings: 'liga' off;
    
    color: #898989;
    

}
.explore{
    display: flex;
    position: relative;
    margin-top: 70px;
    
}
.explore:hover{
    position: relative;
    top: -3px;
    transition-timing-function: ease-in;
    transition: .2s;
}
.explore h3{
    width: 78px;
    height: 16px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 80% */

    font-feature-settings: 'liga' off;

    color: #1B6CE1;

}
.arrow{
    background-image: url(./assets/right-arrow.svg);
    width: 16px;
    height: 16px;
    margin-left: 8px;
    align-self: center;
}

.blog{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(112.49deg, #01204C 2.86%, #1A6CE0 87.34%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vest{
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10vw;
}
.dash2{
    background-color: #FFFFFF;
    width: 56px;
    height: 3px;
    align-self: center;
    border-radius: 2px;

}
.left{
    width: 30%;
    
    display: flex;
    flex-direction: column;

}
.mission{
    display: flex;
    width: 80%;
    height: 28px;
}


.mission h2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.006em;
    
    color: #FFFFFF;
    margin-left: 24px;
}
.left h1{
    width: 60%;
    height: 56px;
    margin-top: 22px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 56px;
    
    color: #FFFFFF;
    
}
.left p{

    width: 80%;
    height: 96px;
    margin-top: 22px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 150% */
    
    
    color: #FFFFFF;
    
    opacity: 0.7;
}
.divider{
    background-color: #FFFFFF;
    height: 80%;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    align-self: center;

}




.right{
    width: 30%;
    
    display: flex;
    flex-direction: column;

}
.vision{
    display: flex;
    width: 80%;
    height: 28px;
    
}
.vision h2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.006em;
    
    color: #FFFFFF;
    margin-left: 24px;
}
.right h1{
    width: 60%;
    height: 56px;
    margin-top: 22px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 56px;
    
    color: #FFFFFF;
    
}
.right p{

    width: 80%;
    height: 96px;
    margin-top: 22px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 150% */
    
    
    color: #FFFFFF;
    
    opacity: 0.7;
}
.divider{
    background-color: #FFFFFF;
    height: 80%;
    border: 1px solid #FFFFFF;
    align-self: center;

}

.pthree{
    box-sizing: border-box;
    border: 2px solid purple;

    height: 90vh;
    width: 100vw;

    position: relative;
    top: 10vh;
}
.page3i{
    box-sizing: border-box;
    border: 2px solid green;

    background: linear-gradient(112.49deg, #01204C 2.86%, #1A6CE0 87.34%);
    height: 50vh;


}

.ft{
    box-sizing: border-box;        
    border: 2px solid red;
    Width: 450px;
    Height: 70px;
    display: flex;
    


}

.dashh{
    background-color: #FEFEFE;
    width: 56px;
    height: 3px;
    align-self: center;
    border-radius: 2px;
}
.ft h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    margin-left: 24px;
    color: #FFFFFF;
}
.page3ii{
    background-color: #E5E5E5;
    height: 40vh;
}