/* height: 598px;
width: 693px;
left: 709px;
top: 405px;
border-radius: 0px; */

.textt{
position: absolute;
width: 445px;
height: 338px;
left: 155px;
top: 511px;
}

/* .background{
    background: #E5E5E5
} */

.cardrad{
    border-radius: 24px;
}

.fcolor{
    color: rgba(125, 121, 135, 1);
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}

.buttonn{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 60px; */
}

.testimonycard{
    width: 100%  !important; 
    /* height:; */
}

.foot{
/* position: absolute;
width: 100%;
height: 432px;
left: 0px;
top: px; */

background-color: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%) !important;
}







